@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@200;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  border-radius: 0;
  position: relative;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

.c1 { color: #00FFD4; }
.c2 { color: #FFAA00; }

body
{
	font-family: 'IBM Plex Mono', 'SF Mono', ui-monospace, monospace;
	font-weight: 200;
	background-color: #250040;
	color: white;
	font-size: 15px;
	line-height: 20px;
}

a { color: inherit; }
a:hover { text-decoration: none; }
a, b, .bold, h1 { font-weight: 700; }
h2 { font-weight: inherit; }
h1, h2 { text-align: center; }
h1 span, h2 span { letter-spacing: 0; }
div.text { padding-top: 10px; }
p { padding: 10px 0; }

article
{
	width: 800px;
	padding: 160px 0;
	margin: 0 auto;
}

h1
{
	text-transform: uppercase;
	font-size: 80px;
	line-height: 80px;
	letter-spacing: 5.7px;
}

h2
{
	text-transform: uppercase;
	font-size: 30px;
	line-height: 40px;
	letter-spacing: 1.4px;
}

section
{
	display: flex;
	justify-content: space-between;
	padding: 120px 0 60px;
}

section > div
{
	flex: 0 1 auto;
}

figcaption
{
	text-align: right;
	font-size: 12px;
	line-height: 20px;
	padding: 30px 60px 0 0;
}

footer p
{
	line-height: 30px;
	text-align: justify;
}

#stvn
{
	width: 120px;
	height: 120px;
	background-image: url('stvn.jpg');
	background-position: center;
	background-size: auto 120px;
	border-radius: 120px;
	border: 2px solid white;
	margin-bottom: 20px;
}